
/*body*/
 
body {
    background-color: rgb(255, 255, 255);

}

        .flex-container {
          display: flex;
          align-content: center;
       

        }

        .flex-container > div {
          width: auto;
          height: 60px;
    
        }
        .flex-container2 {
          display: flex;
          width: auto;
          height: 100%;
         /*background-color: magenta;*/
        }

        .flex-container3 {
            display: flex;
            
            height: 100%;
            /*background-color: orangered;*/
          }
       

        .nav{
            background-color: rgba(255, 255, 255, 0.9);
            height: auto;
            margin-bottom: 10px;
            padding-bottom: 18px;
            overflow: hidden;
            position: fixed;
            top: 0px;
            left: 0;
            right: 0;
            width: 100%;
            align-items: center;
            z-index: 3;
        }

 /*Nav*/ .nav-right{
            float:right;
            align-items: right;
            margin-right: 10%;
            margin-top: 12px;
            display: inline-flex;
        }

/*name*/  .nav-left{
            float:left;
            align-items: center;
            margin-left: 10%;
            display: inline-flex;
        }


        .name{
            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 5px;
            display:block;
            /*background-color: grey;*/
            width: auto;
            height: 20px;
            margin-top:12px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 3vmin;
        }


        /*nav style*/  .nav a{
                        text-decoration: none;
                        color:black; 
        
                        }
     

        .about{
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            display: block;
           /* background-color: grey;*/
            width: auto;
            height: 20px;
            margin-right: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vmin;
        }

        .work{
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            display: block;
           /* background-color: grey;*/
            width: auto;
            height: 20px;
            margin-right: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vmin;
        }

        .play{
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            display: block;
            /*background-color: grey;*/
            width: auto;
            height: 20px;
            margin-right: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vmin;
        }

        .contact{
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            display: block;
            /*background-color: grey;*/
            width: auto;
            height: 20px;
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vmin;
        }
          
          /* visited link */
          a:visited {
            color: black;
          }
          
          /* mouse over link */
          a:hover {
            color: rgb(142, 187, 70);
          }

#list {
    z-index: 3;
}

.list {
    color: rgb(96, 133, 235);
    float: right;
    font-size: 3vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: left;
    left: 480px;
    top: 225px;
    position: absolute;
    display: none;
    line-height: 25px;
    background-color: rgb(255, 255, 255, .5);

}



#creative {
    color: black;
    margin-left: 10px;
    display: inline-flex;
    border-bottom: dotted;
    border-width: .1em;
    border-color:  rgb(233, 120, 177);
}

#creative:hover {
    color: rgb(233, 120, 177);
}

#insightful {
    color: black;
    display: block;
    float: left;
    margin-top: auto;
    border-bottom: dotted;
    border-width: .1em;
    border-color:  rgb(255, 190, 93);
  
}

#insightful:hover {
    color: rgb(255, 190, 93);
}
#multiskilled {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    margin-top: auto;
    border-bottom: dotted;
    border-width: .1em;
    border-color:  rgb(96, 133, 235);
}

#multiskilled:hover {
    color: rgb(96, 133, 235);
}


#ampersand {
    color: black;
    float:left;
    display: inline-block;
    margin-top: auto;
    margin-left: 10px;
}






/*circles*/


.circles {
	display: block;
	float: right;
}

#circlescontainer {
	width: 525px;
	height:300px;
	position:fixed;
	right: 0;
	z-index:4;
  top:45px;
  margin-right:10%;

}


#circle1 {
	position: relative;
}

#circle2 {
	position:relative;
}

#circle3 {
	position:relative;
}

#circle4 {
	position:relative;
}

#circle5 {
	position:relative;
}

#circle6 {
	position:relative;
}
#circle7 {
	position:relative;
}

#circle8 {
	position:relative;
}

#circle9 {
	position:relative;
}

#circle10 {
	position:relative;
}

#circle11 {
	position:relative;
}

#circle12 {
	position:relative;
}

#circle13 {
	position:relative;
}

#circle14 {
	position:relative;
}

#circle15 {
	position:relative;
}




/* This is where the body contents starts*/

.contents{
 /*background-color: lightpink;*/
   height: 600px;
    margin-left:10%;
    margin-right: 10%;
    display: block;
    margin-top: 90px;
    z-index: 2;

        }

     
h1 {   
    
font-size: 6vmin;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
letter-spacing: 2px;
display: inline-block;
z-index: 1;
color: black;
}



.ilove {
    float: right;
    font-size: 3.75vmin;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 4.75vmin;
    text-align: right;
    margin-top: 45px;
    /*margin-top: 75px;*/
    position: relative;
    z-index: 1;
    color: black;
    
}


h3 {   
    
    font-size: 6vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    top: 25%;
    margin-bottom: 75px;
    color: black;
    }

/*
    .location {
        font-size: 2.2vmin;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        line-height: 18px;
        display: inline-block;
        width: 166px;
        position: absolute;
        text-decoration: none;
        color: black;
        margin-top: 75px;
    }*/

    .contactme {
    
       
        font-size: 2.2vmin;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        line-height: 3.5vmin;
        display: inline-block;
        width: 300px;
        position: absolute;
        text-decoration: none;
        color: black;
        margin-top: 76px;
    }


/*

.wrapper { 
    display:none;
    position: absolute;
    left: 23%;
    top: 66%;
    width: 33%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

text {
    fill: #B41F24;
    animation: animate4 1s;

}

@keyframes animate4 {
    0% {
        fill-opacity: 0;
    }
    
}

circle {
    fill:none;
    animation: animate3 .75s;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease-in-out;
    animation-iteration-count: 1;

}

@keyframes animate3 {
    0% {
        opacity: 0%;}
    100% {
        opacity: 100%; 
        fill: #B41F24;}
}


.st2 {
    stroke: #B41F24;
    stroke-dasharray: 1200;
    animation: animate2 1.5s;
    
}
@keyframes animate2 {
    0% {
        stroke-dashoffset: -1200;
    }
}
   
.st0 {
    stroke: #233D7B ;
    stroke-dasharray: 1800;
    animation: animate 1.7s cubic-bezier(.17,.67,.83,.67)

}
@keyframes animate {
    0% {
        stroke-dashoffset: 1800;}
}

*/


.hand {
    width: 100%;
    font-size: 6.5vmin;
    float: right;
    color: rgb(124, 124, 124);
    text-align: center;
    margin-top: 55px;
    height: auto;
    position: relative;
    animation-name: hand;
    animation-duration: 1.2s;
    transition: ease;
    animation-iteration-count: infinite;
}


@keyframes hand {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:0px;}
  50%  {left:0px; top:10px;}
  75%  {left:0px; top:0px;}
  100% {left:0px; top:0px;}
}


.insight { 
    position: absolute;
    left: 65%;
    top: 237px;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 18%;
    display:none;
}

  
    
  /*light*/
.cls-4 {
    opacity:0%;
    animation: animation-name .25s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition: ease-in-out;
    animation-iteration-count: 1;
    
  
     
    
}

@keyframes animation-name {
    0% {
        opacity:0%;}
    

    100% {
        opacity:100%;
        fill:#feef47;
        

    }
    
}




  /*bulb fill*/
  .cls-3 { 
    fill:none;
    animation: animate13 .5s;
    animation-delay: .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease-in-out;
    animation-iteration-count: 1;

}
@keyframes animate13 {
    0% {
        opacity: 0%;}
    100% {
        opacity: 100%; fill: #ffffd8;}
}


  /*bulb*/
.cls-2 {
    
    stroke-dasharray: 800;
    animation: animate12 1.2s;
    
    
}
@keyframes animate12 {
    0% {
        stroke-dashoffset: 800;
        fill:#feee47;
    }
}

  /*brain*/
.cls-1 {
    stroke-dasharray: 600;
    animation: animate12 1.1s;
    
}
@keyframes animate12 {
    0% {
        stroke-dashoffset: -800;
    }
}



  
#about {
    padding-top: 50px;
  
    height: auto;
    display: inline-block;
  
  }
  
  #about .aboutcontainer {
  
    margin-right: 10%;
    margin-bottom: 80px;
  
  }
 

  #about .col-md-5 {
    padding: 0;
    font-size: 2.5vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: black;
    float: right;

   
  }
  
  .abouttitle{
    float:left;
    padding-left: 20%;
    font-size: 3vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
    display:block;
    width: 100%;
    text-align:left;
    margin-bottom:20px;
    margin-top: 0px;
  }
  
  .aboutdesc {
    float:right;
    width: 90%;
    margin-top: 10px;
    text-align:left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 2.5vmin;
    padding-left: 10%;
   
  }
  
  .aboutrow {
    margin-bottom: 20px;
    height:400px;
  }
  
  #aboutmee {
    margin-top:80px;
 
}


.aboutme {
    font-size: 5vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 10%;


  }


/* recent work & contact */


#recent {
  margin-top: 80px;

}


#recentworks {
    
    margin-top:80px;
    align-content: center;
}


.recentwork {
    font-size: 5vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 10%;
    margin-bottom: 50px;

  }
  
  
  
  
  .btn {
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: none;
    padding: 6px 12px;
    font-size: 1.75vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    float:left;
  }
  
  .btn:hover {
    background: black;
    border-color: transparent;
    color: white;
  }
  
  
  #work {
    padding-top: 50px;
    padding-bottom: 50px;
  
  }
  
  #work .container {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 60px;
    width: auto;
  }
  
  #work .col-md-4 {
    padding: 0;
    font-size: 2.5vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: black;
     }



  #work img{
    width: 100%;
    
    
  }


  .titles{
    float:left;
    margin-left: 15%;
    font-size: 3vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
    align-content: center;
    display:inline-block;
    width: auto;
    text-align:left;
    margin-bottom:20px;
    margin-top: 0px;

  
  }
  
  .desc {
    float:left;
    margin-left: 15%;
    width: 100%;
    margin-top: 0;
  }
  
  .row {
    margin-right: 10%;
  }
  
  
  #work .btn {
    margin-top: 20px;
    margin-left: 15%;
  }
  
  
  hr { 
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    margin-left: 8%;
    margin-right: 8%;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: .3em;
    border-color: rgb(235, 235, 235);
  } 
  


  
  /* contact me starts here*/
   
            /* visited link */
            a {color: black;            
            }
            a:visited {
              color: black;
              
            }
            
            /* mouse over link */
            a:hover {
              color: rgb(142, 187, 70);
            }
  
  
  #containercontact {
    width:auto;
    margin-left: 10%;
    position:relative;
    margin-top: 80px;
    margin-bottom: 80px;

  }
  
  .youcan {
    display:block;
    color: rgb(0, 0, 0);
    font-size: 2.5vmin;
    font-weight: 500;
    line-height: 2vmin;
    margin-bottom: 25px;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .connectwm {
    color: black;
    display: block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vmin;
    font-weight: 500;
    margin-bottom: 50px;
    width: auto;
    border-bottom: none;
  }
  
  .contactinfo {
    display:block;
    color: rgb(0, 0, 0);
    font-size: 2.5vmin;
    font-weight: 300;
    line-height: 2vmin;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
/* top*/

#top {
  top:0;
  z-index: -1;
  height:0px;
}


/* Footer */

.footer {
        background-color: rgba(255, 255, 255, 0.9);
        height: 40px;
        margin-bottom: 10px;
        margin-bottom: 20px;
        overflow: hidden;
        bottom: 0px;
        left: 0;
        right: 0;
        width: auto;
        align-items: center;
        z-index: 3;
        text-align:center;
    }

.copyright {
    text-align: center;
    font-size: 1.5vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:20px;
    width: auto;

}

img {
  pointer-events: none;
  width: auto;
}

.replace {
  visibility: hidden;
}

@media (max-width: 400px) {
  .contactme{
     display: block;
     float: left;
     top: 260px;
     font-size: 14px;
  }

}

@media (max-width: 400px) {
  hr {
      display: none;
  }
} 

@media (max-width: 400px) {
  .nav-right {
      display: none;
  }
}  

@media (max-width: 1000px) {
  .contents {
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: none;
  
  }
}

@media (max-width: 378px) {
  .replace {
          visibility: visible;
          font-size: 5vmin;
          line-height: 30px;
          margin-left: -60;
          margin-left: 0;
          color: rgb(0, 0, 0);
          float: left;
  }
}

@media (max-width:400px){
  .nav {
    width:100%;
  }
}

@media (max-width:400px){
  .nav-left {
    margin-left: 5%;
  }
}

@media (max-width:400px){
  #about {
    margin-left: 5%;
    width: 100vw;
    padding-top: 20px;
  }
}

@media (max-width:400px){
  .aboutme {
    margin-left: 5%;
   
  }
}
@media (max-width:400px){
  #aboutrow {
    margin-left: 5%;
    margin-right: 5% ;
  }
}

@media (max-width:400px){
  #about .col-md-6 {
    padding: 0;
    font-size: 2.5vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: black;
    float: right;
    width: 63%;
    align-content: center;
  
   
  }
}


.hover_circles {
  width:200px;
  height: auto;
  font-size: 6.5vmin;
  position: absolute;
  margin-top: 60px;
  padding-right: 71%;
  text-align: center;
  float: left;
  color: rgb(233, 120, 177, 0.7);
  animation-name: hover_circles;
  animation-duration:1.5s;
  transition: ease;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  transform: rotate(180deg);
  z-index: 3;
  display: none;

}

@keyframes hover_circles{
0%   {left:0px; top:0px; opacity: 0%;}
100% {left:250px; top:0px;opacity: 100%;}
}



#gototop {
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 6vmin;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: right;
  bottom: 15px;
  left: 95%;
  text-decoration: none;


}

#gototop :hover{
  text-decoration: none;

}